body {
    font-family: Garamond, serif;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #042024;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 32px;
    color:#f3ecdb;
    font-size: 36px;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
  
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #f5631e;
    color: #fff;
    cursor: pointer;
}

ul {
    color: #f3ecdb;
    font-size:18px;
    text-transform: capitalize;
    padding:20px;
  margin-bottom:20px;
  
}
