body {
    font-family: Garamond, serif;
  color:#f3ecdb;
    margin: 0;
    padding: 0;
    background-color: #f3ecdb;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3e503c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 32px;
    color:#fff;
    font-size: 36px;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
  
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #7f886a;
    color: #fff;
    cursor: pointer;
}

ul {
    font-size:20px;
    text-transform: capitalize;
    list-style-type: ;
    padding:20px;
  margin-bottom:20px;
  
}
